
/* General Styles*/

input {
    outline: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

#body {
    font-size: 24px;
}

.title-1 h3 {
    color: #3C3B5C;
    font-size: 60px;
}

.title-2 h2 {
    color: #3C3B5C;
    font-size: 120px;
    font-weight: bold;
    line-height: 3rem;
}

.title-content {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.custom-container-order-right .col-12:nth-child(1) {
    order: 2 !important;
}

.custom-container-order-right .col-12:nth-child(2) {
    order: 1 !important;
}

/* Nav Menu */

.custom-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    transition: all 1s ease-in-out;
    z-index: 999999;
    top: -4%;
    padding: 2rem 0;
}

.custom-nav {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.custom-nav-left {
    width: 200px;
}

.custom-nav-right {
    width: 100%;
}

.custom-nav-list {
    display: flex;
}

.custom-nav-item {
    padding: 0 2rem;
}

.custom-nav-item a {
    color: #000;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.custom-nav-item a:hover {
    color: #FF7E00;
}

.custom-nav-item a::before {
    background-color: #FF7E00;
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -6px;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.custom-nav-item a:hover::before {
    width: 100%;
    left: 0;
}

.active a {
    color: #FF7E00;
}

.custom-menu-button a {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 20px;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.custom-menu-button a:hover {
    border: 1px solid #fff;
    background-color: #FFBA77;
    color: #fff;
}

.custom-menu-responsive {
    display: none;
}

.menu-button-container {
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #FF7E00;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.sticky {
    animation: mymove 1s ease-in-out;
    background-color: #fff;
    position: fixed;
    padding: 0.5rem 0;
}

/*First Section*/
.first-section {
    background-image: url("../images/assets/Milo-Assets-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.first-section .image-content {
    height: 500px;
    position: relative;
}

.first-section .image-content img {
    position: absolute;
    left: -50%;
    width: 250%;
    bottom: -60%;
}

.first-section .title-content {
    margin-bottom: 1rem !important;
}

.first-section .custom-title-1 h2 {
    color: #C04656;
    font-size: 40px;
    line-height: 5rem;
}

.first-section .custom-title-2 h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 5rem;
    z-index: 2;
}

.first-section .custom-title-3 h2{
    font-size: 60px;
    line-height: 5rem;
}

.first-section .button-content a {
    background-color: #fff;
    border: 2px solid #FFBA77;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
    padding: 1rem 3rem;
    transition: all 0.3s ease-in-out;
}

.first-section .button-content a:hover {
    background-color: #FFBA77;
    border: 2px solid #fff;
    color: #fff;
}

.first-section .button-content a:active {
    animation: pressButton 0.3s ease-in-out;
}

/* Second Section */
.second-section {
    padding: 10rem 0;
    background-image: url("../images/assets/Milo-Assets-03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.second-section .custom-content {
    width: 80%;
    z-index: 2;
}

.second-section .title-content {
    text-align: center;
}

.second-section .title-content h2 {
    color: #3C3B5C;
    font-size: 52px;
    font-weight: bold;
}

.second-section .button-content a {
    border: 2px solid #3C3B5C;
    border-radius: 25px;
    color: #3C3B5C;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.second-section .button-content a:hover {
    background-color: #FFBA77;
    border: 2px solid #fff;
    color: #fff;
}

.second-section .imagen-absolute-left {
    position: absolute;
    left: -16%;
    bottom: -5%;
    width: 35%;
}

.second-section .imagen-absolute-right {
    position: absolute;
    right: -16%;
    top: -20%;
    width: 35%;
}

/* Meet section */
.meet-section {
    background-image: url("../images/assets/Milo-Assets-18.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

.meet-section .title-1 {
    margin-left: -10%;
}

.meet-section .meet-section-body {
    padding: 5rem 0;
}

.meet-section .person-item {
    width: 40%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.meet-section .person-item::before {
    background-color: #f98f28;
    border-radius: 50%;
    content: "";
    height: 100%;
    opacity: 0.5;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.meet-section .person-item::after {
    content: "";
    position: absolute;
    background-color: #FFCD9C;
    top: 25%;
    left: 160%;
    height: 0;
    width: 0;
    transform: rotate(45deg);
    transition:  all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 0;
}

.active-image-meet {
    width: 50% !important;
}

.active-image-meet::before {
    width: 0 !important;
    height: 0 !important;
    transition: all 0.3s ease-in-out;
}

.active-image-meet::after {
    animation: arrowChange 0.5s ease-in-out;
    width: 125px !important;
    height: 125px !important;
    transition: all 0.3s ease-in-out;
}

.meet-section .person-item img{
    border-radius: 50%;
}

.meet-section .meet-person,
.meet-section .meet-video {
    height: 960px;
    width: 90%;
    z-index: 2;
}

.meet-section .meet-video {
    background-color: #FFCD9C;
    border-radius: 25px;
    overflow: hidden;
}

.meet-section .meet-video .video-item {
    width: 100%;
    border-radius: 25px;
    order: 2;
    transition: all 0.3s ease-in-out;
}

.active-video-meet {
    order: 1 !important;
    animation: videoChange 0.5s ease-in-out;
}

.meet-section .meet-video .video-item video {
    width: 100%;
    border-radius: 20px;
}

.meet-section .custom-slider {
    display: none !important;
    width: 80%;
    margin-top: 5rem;
}

.meet-section .video-content {
    display: flex;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.active-video-content {
    background-color: transparent !important;
}

.meet-section .video-content::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -3%;
    left: 40%;
    height: 75px;
    width: 75px;
    transform: rotate(45deg);
    transition:  all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.active-video-content-before::before {
    background-color: #FFCD9C !important;
    transition:  all 0.3s ease-in-out;
}   

.meet-section .people-content {
    margin-top: 4rem;
}

.meet-section .people-image {
    transition: all 0.3s ease-in-out;
    width: 30%;
}

.active-people-image  {
    width: 75% !important;
}

.meet-section .people-image img {
    border-radius: 50%;
}

.meet-section .image-content {
    overflow: hidden;
    width: 100%;
}

.meet-section .image-content video {
    border-radius: 25px;
    width: 100%;
    transform: translateY(200%);
    transition: all 0.3s ease-in-out;
}

.active-translate {
    transform: translateY(0) !important;
    transition: all 0.3s ease-in-out;
}

.meet-section .arrow-content {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.meet-section .arrow-body {
    display: none !important;
    width: 50%;
}

.meet-section .arrow-left span,
.meet-section .arrow-right span {
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

.meet-section .arrow-left span:hover,
.meet-section .arrow-right span:hover {
    font-size: 80px;
}

/* Fourth section */
.fourth-section {
    padding: 5rem 0;
}

.fourth-section .custom-content {
    background-image: url("../images/assets/Artboard-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin-bottom: 2rem;
    width: 30%;
}

.fourth-section .custom-title-1 h2,
.fourth-section .custom-title-3 h2 {
    font-size: 80px;
    font-weight: bold;
    line-height: 3rem;
}

.fourth-section .custom-title-2 h2 {
    font-size: 52px;
    line-height: 3rem;
}

.fourth-section .custom-card-body {
    margin: 3rem 0;
}

.fourth-section .custom-card-body .container {
    padding: 0;
}

.fourth-section .custom-card-image-right .col-12:nth-child(1) {
    order: 2;
}

.fourth-section .custom-card-image-right .col-12:nth-child(2) {
    order: 1;
}

.fourth-section .custom-card-title h3 {
    color: #C04656;
    font-size: 48px;
    font-weight: bold;
}

.fourth-section .custom-card-subtitle h4 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 1rem;
}

.fourth-section .custom-card-description {
    margin-top: 1rem;
    line-height: 2rem;
}

.fourth-section .custom-card-button {
    margin-top: 2rem;
}

.fourth-section .custom-card-button a {
    background-color: #D87C8D;
    border: 1px solid #D87C8D;
    border-radius: 10px;
    color: #fff;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.fourth-section .custom-card-button a:hover {
    background-color: #fff;
    border: 1px solid #D87C8D;
    color: #D87C8D;
}

.fourth-section .custom-card-button a:active {
    animation: pressButton 0.3s ease-in-out;
}

/* fifth container */
.fifth-section {
    background-image: url("../images/assets/Artboard-9.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

.fifth-section .title-1 {
    margin-left: -30%;
}

.fifth-section .testimonial-section {
    margin-top: 3rem;
}

.fifth-section .testimonial-right .col-12:nth-child(1) {
    order: 2;
}

.fifth-section .testimonial-right .col-12:nth-child(2) {
    order: 1;
}

.fifth-section .testimonial-image {
    position: relative;
    width: 40%;
}

.fifth-section .testimonial-image::before {
    content: "";
    background-color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 50%;
    bottom: -3%;
    right: -3%;
    z-index: -1;
}

.fifth-section .testimonial-image img {
    border-radius: 50%;
}

.fifth-section .testimonal-name {
    margin-top: 2rem;
}

.fifth-section .testimonal-name .name {
    font-weight: bold;
    margin: 0;
}

.fifth-section .testimonal-name .position {
    font-size: 20px;
    margin: 0;
}

.fifth-section .testimonial-description {
    background-color: #fff;
    border-radius: 50px;
    line-height: 2rem;
    padding: 3rem;
    width: 75%;
}

.fifth-section .link-button a {
    color: #FF7E00;
    margin-left: 2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.fifth-section .link-button a::before {
    content: "";
    background-color: #FF7E00;
    position: absolute;
    width: 0;
    left: 50%;
    height: 3px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

.fifth-section .link-button a:hover::before {
    width: 100%;
    left: 0;
}

.fifth-section .testimonial-left .col-12:nth-child(2){
    justify-content: flex-start;
}

.fifth-section .testimonial-right .col-12:nth-child(2){
    justify-content: flex-end;
}

/* Sixth section */
.sixth-section {
    background-image: url("../images/assets/cabeza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 0 50rem 0;
}

.sixth-section .custom-text {
    width: 50%;
}

.sixth-section .custom-text-description {
    border-radius: 50px;
    background-color: rgb(60 59 92 / 80%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    padding: 1rem;
    width: 60%;
}

.sixth-section .custom-2 {
    width: 75%;
}

.sixth-section .custom-text-subtitle {
    border-radius: 50px;
    background-color: rgb(60 59 92 / 80%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 30%;
}

.sixth-section .description-number {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    line-height: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.sixth-section .description-text {
    color: #fff;
    line-height: 2rem;
}

.sixth-section .subtitle-text h4 {
    font-size: 32px;
    color: #fff;
}

/* Seventh section */
.seventh-section {
    background-image: url("../images/assets/Milo-Assets-13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

.seventh-section .title-1,
.seventh-section .title-2 {
    text-align: center;
}

.seventh-section .price-content {
    width: 100%;
}

.seventh-section .price-container {
    background-color: #fff;
    border-radius: 25px;
    margin: 2rem;
    padding: 1rem;
    width: 50%;
    box-shadow: 5px 5px 20px 5px rgba(219, 108, 95, 0.5);
}

.seventh-section .price-info h3 {
    color: #FF7E00;
    font-size: 40px;
    margin: 0;
}

.seventh-section .price-title h3 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.seventh-section .price-add p {
    font-size: 16px;
    margin: 0;
    margin-top: 1rem;
}

.seventh-section .price-text {
    font-size: 36px;
    font-weight: bold;
}

.seventh-section .price-text span {
    font-size: 20px;
    font-weight: normal;
}

.seventh-section .price-image {
    width: 30%;
}

.seventh-section .table-content {
    background-color: #fff;
    border-radius: 25px;
    margin-top: 3rem;
    padding: 2rem;
    box-shadow: 5px 5px 20px 5px rgba(219, 108, 95, 0.5);
}

.seventh-section .table-body th,
.seventh-section .table-body td {
    padding: 0.5rem 0;
    width: 20%;
    text-align: center;
}

.seventh-section .image-table-1,
.seventh-section .image-table-2,
.seventh-section .image-table-3 {
    margin: 0 auto;
}

.seventh-section .image-table-1,
.seventh-section .image-table-3 {
    width: 50%;
}

.seventh-section .image-table-2 {
    width: 90%;
}

.seventh-section .icon-body {
    margin: 0 auto;
}

.seventh-section .visto {
    width: 20%;
}

.seventh-section .equis {
    width: 15%;
}

.seventh-section tbody tr td {
    border-right: 3px solid #000;
}

.seventh-section tbody tr td:last-child {
    border-right: none;
}

.seventh-section .table-text {
    padding-right: 1rem !important;
}

/* Eighth section */
.eighth-section {
    background-image: url("../images/assets/cloud.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10rem;
    padding-bottom: 1rem;
}

.eighth-section .image-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.eighth-section .image-content img {
    position: absolute;
    width: 175%;
    left: -70%;
    top: 0%;
}

.eighth-section .faq-body {
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 4rem 6rem;
    width: 90%;
    box-shadow: 5px 5px 20px 5px rgba(250, 133, 17, 0.5);
}

.eighth-section .faq-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.eighth-section .faq-title:first-child {
    margin-top: 0;
}

.eighth-section .faq-title h4 {
    font-size: 32px;
    font-weight: bold;
}

.eighth-section .faq-text {
    text-align: center;
}

/* Nineth section */
.nineth-section {
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 0;
    position: relative;
}

.nineth-section .image-absolute {
    position: absolute;
    bottom: -50%;
    left: -10%;
    width: 200%;
    z-index: -1;
}

.nineth-section .description {
    font-weight: bold;
}

/* Tenth container */
.tenth-section {
    background-image: url("../images/assets/Milo-Assets-17.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

.tenth-section .title-2 {
    margin-bottom: 6rem;
}

.tenth-section .blog-body {
    background-color: #fff;
    border-radius: 25px;
    width: 90%;
    padding: 2rem;
    box-shadow: 5px 5px 20px 5px rgba(250, 133, 17, 0.5);
}

.tenth-section .blog-title h3 {
    font-size: 40px;
    font-weight: bold;
}

.tenth-section .blog-link a {
    color: #FF7E00;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tenth-section .blog-link a::before {
    content: "";
    background-color: #FF7E00;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.tenth-section .blog-link a:hover::before {
    width: 100%;
    left: 0;
}



/* Rating section */

.rating-section {
    background-color: #FFBA77;
    padding: 6rem 0;
}

.rating-section .rating-body {
    padding: 0 5rem;
}

.rating-section .rating-stars span {
    font-size: 28px;
}

.rating-section .rating-text {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

/* Footer */
.custom-footer {
    background-color: #333;
}

.custom-footer .custom-footer-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}

.custom-footer .custom-footer-container p,
.custom-footer .custom-footer-container p a {
    color: #fff;
    font-size: 12px;
    margin: 0 !important;
}

/* Responsive */

@media ( max-width: 1399px ) {
    .first-section {
        padding-top: 5rem;
        padding-bottom: 10rem;
    }

    .first-section .custom-title-1 h2 {
        font-size: 40px;
    }
    
    .first-section .custom-title-2 h1 {
        font-size: 80px;
    }
    
    .first-section .custom-title-3 h2{
        font-size: 52px;
    }

    .first-section .image-content img {
        bottom: -35%;
    }

    .second-section .imagen-absolute-left {
        bottom: 0%;
    }
    
    .second-section .imagen-absolute-right {
        top: -10%;
    }

    .meet-section .meet-person, 
    .meet-section .meet-video {
        height: 816px;
    }

    .eighth-section .image-content img {
        width: 150%;
        left: -35%;
    }

    .rating-section .rating-body {
        padding: 0 4rem;
    }
}

@media ( max-width: 1199px ) {
    #body {
        font-size: 20px;
    }

    .title-1 h3 {
        font-size: 48px;
    }
    
    .title-2 h2 {
        font-size: 100px;
    }
    
    .title-content {
        margin-bottom: 2rem;
    }

    .custom-nav-item {
        padding: 0 1rem;
    }

    .custom-nav-item a {
        font-size: 18px;
    }

    .custom-menu-button a {
        font-size: 18px;
    }

    .first-section {
        margin-top: 6rem;
        padding-bottom: 5rem;
    }

    .first-section .custom-title-1 h2 {
        font-size: 36px;
    }
    
    .first-section .custom-title-2 h1 {
        font-size: 72px;
    }
    
    .first-section .custom-title-3 h2{
        font-size: 48px;
    }

    .first-section .image-content img {
        left: -40%;
        width: 225%;
        bottom: -15%;
    }

    .second-section .title-content h2 {
        font-size: 40px;
    }
    
    .third-section .custom-title h3 {
        font-size: 32px;
    }

    .meet-section .meet-person, .meet-section .meet-video {
        height: 672px;
    }

    .active-image-meet::after {
        height: 100px !important;
        width: 100px !important;
    }

    .fourth-section .custom-content {
        width: 40%;
    }

    .fourth-section .custom-card-title h3 {
        font-size: 32px;
    }

    .fourth-section .custom-card-subtitle h4 {
        font-size: 24px;
    }

    .sixth-section {
        padding: 15rem 0 30rem 0;
    }

    .sixth-section .description-number {
        font-size: 60px;
    }

    .sixth-section .subtitle-text h4 {
        font-size: 28px;
    }

    .seventh-section .price-container {
        width: 60%;
    }

    .seventh-section .price-title h3 {
        font-size: 64px;
    }

    .seventh-section .price-text {
        font-size: 32px;
    }

    .seventh-section .price-subtitle h4 {
        font-size: 20px;
    }
    
    .seventh-section .price-image-1 {
        width: 30%;
    }

    .eighth-section .faq-body {
        padding: 2rem 3rem;
    }

    .eighth-section .faq-title {
        margin-top: 2rem;
    }

    .eighth-section .faq-title h4 {
        font-size: 28px;
    }

    .tenth-section .blog-body {
        width: 100%;
    }

    .tenth-section .blog-title h3 {
        font-size: 32px;
    }

    .rating-section .rating-body {
        padding: 0 3rem;
    }

    .rating-section .rating-stars span,
    .rating-section .rating-text {
        font-size: 20px;
    }
}

@media ( max-width: 991px ) {
    .custom-container-order-right .col-12:nth-child(1) {
        order: 1 !important;
    }

    .custom-container-order-right .col-12:nth-child(2) {
        order: 2 !important;
    }

    .custom-menu-responsive {
        display: flex;
    }

    .menu-button-container {
        display: flex;
    }

    #menu-toggle {
        display: none;
    }

    .show-menu {
        display: block !important;
    }
    
    .hide-menu {
        display: none !important;
    }

    .custom-nav-list {
        background-color: #fff;
        display: none;
        position: absolute;
        top: 3rem;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #menu-toggle ~ .custom-nav-list li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .custom-nav-list li {
        border: 1px solid #FFBA77;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .custom-nav-list > li a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #FFBA77;
        font-size: 20px;
    }

    .custom-nav-list > li a {
        border-bottom: 1px solid #FFBA77;
    }

    .custom-nav-list > li a:hover {
        color:  #FFBA77;
        font-weight: bold;
    }

    .custom-nav-left {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding: 0 3rem;
    }

    .custom-nav-left .logo {
        margin-right: 7%;
        width: 150px;
    }

    .custom-nav-right {
        justify-content: flex-end !important;
        width: 50%;
    }

    .custom-nav-item {
        padding: 0;
    }

    .first-section {
        margin-top: 4rem;
    }

    .second-section {
        padding: 4rem 0;
    }

    .third-section {
        padding: 2rem 0;
    }

    .meet-section,
    .fourth-section,
    .fifth-section,
    .seventh-section,
    .eighth-section, 
    .nineth-section,
    .tenth-section {
        padding: 1rem 0;
    }

    .first-section .custom-container-1 {
        order: 2;
    }

    .first-section .custom-container-2 {
        order: 1;
    }

    .title-1 h3 {
        font-size: 40px;
    }
    
    .title-2 h2 {
        font-size: 80px;
    }
    
    .title-content {
        margin-bottom: 1rem;
    }

    .first-section .image-content {
        height: auto;
        margin: 0;
    }

    .first-section .image-content img {
        position: initial;
        width: 100%;
    }
    
    .second-section {
        padding: 6rem 0;
    }

    .second-section .custom-content {
        width: 80%;
    }
    
    .second-section .title-content h2 {
        font-size: 40px;
    }

    .third-section .custom-title {
        width: 100%;
    }

    .third-section .custom-title h3 {
        font-size: 28px;
    }

    .meet-section .meet-section-body {
        display: none;
    }

    .meet-section .custom-slider {
        display: block !important;
    }

    .meet-section .arrow-body {
        display: flex !important;
    }

    .fourth-section .custom-title-1 h2, .fourth-section .custom-title-3 h2 {
        font-size: 72px;
    }

    .fourth-section .custom-title-2 h2 {
        font-size: 48px;
    }

    .fourth-section .custom-content {
        width: 60%;
    }

    .fourth-section .custom-card-body .col-12 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .fourth-section .custom-card-title,
    .fourth-section .custom-card-description,
    .fourth-section .custom-card-subtitle h4,
    .fourth-section .custom-card-button,
    .fifth-section .testimonal-name {
        text-align: center;
    }

    .fourth-section .custom-card-container {
        margin-bottom: 1rem;
    }

    .fourth-section .custom-order-container {
        display: flex;
        flex-direction: column;
    }

    .fourth-section .custom-order-container .custom-card-content {
        order: 2;
    }

    .fourth-section .custom-order-container .image-content {
        order: 1;
    }

    .fourth-section .custom-border,
    .fourth-section .custom-border .custom-card-container {
        border-bottom: none !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .fifth-section .testimonial-image {
        width: 25%;
    }

    .fifth-section .testimonal-name {
        margin-bottom: 2rem;
    }

    .fifth-section .testimonial-description {
        width: 100%;
    }

    .sixth-section .text-content {
        margin-top: 2rem;
    }

    .sixth-section .custom-text {
        width: 75%;
    }

    .sixth-section .number-item {
        font-size: 80px;
    }

    .sixth-section .custom-text-description {
        width: 80%;
    }

    .sixth-section .custom-2 {
        width: 90%;
    }

    .sixth-section .custom-text-subtitle {
        width: 50%;
    }

    .sixth-section .custom-description {
        margin-bottom: 3rem;
    }

    .seventh-section .container {
        max-width: initial;
    }

    .seventh-section .price-info h3 {
        font-size: 36px;
    }

    .seventh-section .visto {
        width: 30%;
    }

    .seventh-section .equis {
        width: 25%;
    }

    .eighth-section {
        margin-top: 2rem;
    }

    .eighth-section .image-content img {
        position: initial;
        width: 100%;
    }

    .eighth-section .faq-body {
        margin-top: 0;
    }

    .nineth-section .description {
        margin-top: 1rem;
    }

    .nineth-section .image-absolute {
        bottom: -15%;
        left: -15%;
    }

    .tenth-section .blog-body {
        margin-bottom: 2rem;
    }

    .rating-section {
        padding: 4rem 0;
    }

    .rating-section .rating-body {
        padding: 0 1rem;
    }

    .rating-section .rating-stars span,
    .rating-section .rating-text {
        font-size: 18px;
    }

    .active-people-image {
        width: 45% !important;
    }

    .meet-section .arrow-body {
        width: 100%;
    }

    .meet-section .image-content {
        width: 75%;
    }

    .meet-section .video-content::before {
        left: 44%;
    }
}

@media ( max-width: 767px ) {
    #body {
        font-size: 16px;
    }

    .title-1 h3 {
        font-size: 32px;
    }
    
    .title-2 h2 {
        font-size: 60px;
    }
    
    .title-content {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .custom-header {
        background-color: #fff;
        padding: 1rem 0;
    }

    .sticky {
        padding: 0.5rem 0;
    }

    .custom-menu-button a {
        font-size: 16px;
        padding: 1rem;
    }

    .custom-nav-left .logo {
        width: 125px;
    }

    .custom-nav-list {
        top: 2rem;
    }

    .first-section {
        padding-top: 8rem;
        background-position: center -50px;
    }

    .first-section .custom-title-1 h2,
    .first-section .custom-title-3 h2 {
        font-size: 32px;
        line-height: 3rem;
    }
    
    .first-section .custom-title-2 h1 {
        font-size: 60px;
        line-height: 3rem;
    }

    .first-section .button-content {
        margin-top: 0;
    }

    .second-section .title-content h2 {
        font-size: 24px;
    }

    .second-section .button-content {
        margin-top: 2rem;
    }

    .second-section .button-content a {
        padding: 1rem;
    }

    .second-section .custom-content {
        width: 100%;
    }

    .third-section .custom-title,
    .third-section .video-content {
        width: 90%;
    }

    .third-section .custom-title h3 {
        font-size: 20px;
    }

    .meet-section .custom-slider {
        margin-top: 3rem;
    }

    .meet-section .video-content::before {
        height: 50px;
        width: 50px;
    }

    .meet-section .people-content {
        margin-top: 3rem;
    }

    .fourth-section .custom-card-body {
        margin: 0;
    }

    .fourth-section .custom-title-1 h2,
    .fourth-section .custom-title-3 h2 {
        font-size: 60px;
        line-height: 2rem;
    }

    .fourth-section .custom-title-2 h2 {
        font-size: 40px;
        line-height: 2rem;
    }

    .fourth-section .custom-card-title h3 {
        font-size: 28px;
    }

    .fourth-section .custom-card-subtitle h4 {
        font-size: 20px;
    }

    .fifth-section .testimonal-name .position {
        line-height: 1rem;
    }

    .fifth-section .testimonal-name {
        margin-top: 1rem;
    }

    .fifth-section .testimonial-description {
        padding: 2rem;
    }

    .sixth-section {
        padding: 5rem 0 20rem 0;
    }

    .sixth-section .custom-subtitle h4 {
        font-size: 20px;
    }

    .sixth-section .custom-text-description {
        width: 90%;
        margin: 1rem 0;
    }

    .sixth-section .custom-text-subtitle {
        width: 70%;
        margin: 1rem 0;
    }

    .sixth-section .description-number {
        font-size: 52px;
    }

    .sixth-section .subtitle-text h4 {
        font-size: 24px;
    }

    .sixth-section .text-content {
        margin-bottom: 5rem;
    }

    .seventh-section .price-title h3 {
        font-size: 52px;
    }

    .seventh-section .price-subtitle h4 {
        font-size: 16px;
    }

    .seventh-section .price-text {
        font-size: 20px;
    }

    .seventh-section .price-text span {
        font-size: 16px;
    }

    .seventh-section .price-info h3 {
        font-size: 28px;
    }

    .seventh-section .price-add p {
        font-size: 12px;
    }

    .seventh-section .price-image {
        width: 25%;
    }

    .seventh-section .icon-container {
        font-size: 28px;
    }

    .seventh-section .icon-container i {
        width: 32px;
        height: 32px;
    }

    .seventh-section .table-text {
        border-bottom: 1px solid #ccc;
    }

    .eighth-section .faq-body {
        padding: 1rem 2rem;
    }

    .eighth-section .faq-title h4 {
        font-size: 24px;
    }

    .eighth-section .faq-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tenth-section .blog-title h3 {
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    .custom-nav-left {
        padding: 0;
        padding-left: 1rem;
    }

    .custom-nav-list {
        top: 2rem;
    }

    .first-section {
        background-position: center;
        margin-top: 2rem;
        padding-top: 5rem;
        padding-bottom: 0;
    }

    .first-section .custom-title-1 h2,
    .first-section .custom-title-3 h2 {
        font-size: 24px;
    }
    
    .first-section .custom-title-2 h1 {
        font-size: 48px;
    }

    .second-section {
        padding: 4rem 0;
    }

    .meet-section .video-content::before {
        left: 41%;
    }

    .seventh-section .price-container {
        width: 80%;
    }

    .seventh-section .table-content {
        margin-top: 1rem;
        padding: 1rem;
    }

    .seventh-section .local-therapist {
        font-size: 10px;
    }

    .seventh-section .image-table-1,
    .seventh-section .image-table-2,
    .seventh-section .image-table-3 {
        width: 100%;
    }

    .seventh-section .visto {
        width: 60%;
    }

    .seventh-section .equis {
        width: 50%;
    }

    .fourth-section .custom-card-body .container {
        padding: 0;
    }

    .meet-section .people-content {
        margin-top: 3rem;
    }

    .meet-section .arrow-body {
        width: 90%;
    }

    .meet-section .arrow-left span, 
    .meet-section .arrow-right span {
        font-size: 40px;
    }

    .meet-section .arrow-left span:hover, 
    .meet-section .arrow-right span:hover {
        font-size: 60px;
    }


}

@media ( min-width: 992px ) {
    .custom-nav-list {
        display: flex !important;
    }
}

@media ( max-height: 800px ) {
    .custom-header {
        top: -5%;
    }

    @keyframes mymove {
        from {
          top: -10%;
        }
        to {
          top: -5%;
        }
    }
}

@media ( max-height: 700px ) {
    .custom-header {
        top: -6%;
    }

    @keyframes mymove {
        from {
          top: -10%;
        }
        to {
          top: -6%;
        }
    }
}

@media ( max-height: 600px ) {
    .custom-header {
        top: -7%;
    }

    @keyframes mymove {
        from {
          top: -10%;
        }
        to {
          top: -7%;
        }
    }
}



/* Animations */

@keyframes pressButton {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

@keyframes mymove {
    from {
      top: -10%;
    }
    to {
      top: -3%;
    }
}

@keyframes videoChange {
    from {
        margin-top: 200%;
    }
    to {
        margin-top: 0;
    }
}

@keyframes arrowChange {
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0;
    }
}